version: '3'
services:
  dns:
    build: .
    ports:
      - '53:53/udp'
      - '53:53/tcp'
    cap_add:
      - NET_ADMIN
    volumes:
      - type: bind
        source: ./dnsmasq.conf
        target: /etc/dnsmasq.conf
      - type: bind
        source: ./dnsmasq.hosts
        target: /etc/dnsmasq.hosts
    restart: unless-stopped
